<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div>Hello, DadaBaba</div>
<a href="/main">Main Page</a>
</body>
</html>