body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f5fe;

}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    height: 80px;
    width: 300px;
    margin-left: 20px;
}



.beb{
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.header_inner {
    display: flex;
    height: 90px;
    justify-content:space-between;
    align-items: center;
    background-color: #077b8a;
}

/* Container */

.container {
    width: 100%;
    margin: 0 auto;
}

/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link{
    display: inline-block;
    vertical-align: top;
    transition: color .2s linear;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;

    height: 60px;
    width: 60px;

}

.section {
    padding: 120px 0;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    height: 45px;
    width: 100%;
    color: #385983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
}

.button-logout {
    transform: translate(-50px, 0);
    padding-right: 25px;


}

main {
    background: #f1f5fe;
    display: flex;
    justify-content: center;
    margin-top: 250px;

}

input:focus {
    outline: none;
    border: 2px solid #c1d9fd;

}

.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;

    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }


}

.form-title {
    color: #305070;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}

.form-field {
    margin-bottom: 13px;

}

.button-fff {
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    width: 100%;
    background: #247fff;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.button-fff:hover {
    background-color: #0d6cf2;
}

.

.user_nav {
    margin: 10px 0 0 0;
    border: 3px #858585 solid;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.form-search {
    box-sizing: border-box;
    position: relative;
    margin: 1em;
}

.search {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3em;
    border-radius: 1.5em;
    border: 1px solid;
    padding: 0 1.5em;
}

.search-btn {
    box-sizing: border-box;
    position: absolute;
    top: .4em;
    right: .4em;
    height: 2.2em;
    border-radius: 1.1em;
    border: 1px solid;
    text-transform: uppercase;
    background: #247fff;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    width: 70px;
}

.search-btn {
    box-sizing: border-box;
    position: absolute;
    top: .4em;
    right: .4em;
    height: 2.2em;
    border-radius: 1.1em;
    border: 1px solid;
    text-transform: uppercase;
    background: #247fff;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    width: 70px;
}

.search-btn:hover {
    background-color: #0d6cf2;
}


